@charset "UTF-8";.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-is-hidden{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99993;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.fancybox-container~.fancybox-container{z-index:99992}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{position:absolute;top:0;right:0;bottom:0;left:0}.fancybox-outer{overflow-y:auto;-webkit-overflow-scrolling:touch}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption-wrap,.fancybox-infobar,.fancybox-toolbar{position:absolute;direction:ltr;z-index:99997;opacity:0;visibility:hidden;transition:opacity .25s,visibility 0s linear .25s;box-sizing:border-box}.fancybox-show-caption .fancybox-caption-wrap,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;visibility:visible;transition:opacity .25s,visibility 0s}.fancybox-infobar{top:0;left:50%;margin-left:-79px}.fancybox-infobar__body{display:inline-block;width:70px;line-height:44px;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;color:#ddd;background-color:rgba(30,30,30,.7);pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}.fancybox-toolbar{top:0;right:0}.fancybox-stage{overflow:hidden;direction:ltr;z-index:99994;-webkit-transform:translateZ(0)}.fancybox-slide{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:auto;outline:none;white-space:normal;box-sizing:border-box;text-align:center;z-index:99994;-webkit-overflow-scrolling:touch;display:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.fancybox-slide:before{content:"";display:inline-block;vertical-align:middle;height:100%;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:visible}.fancybox-slide--image:before{display:none}.fancybox-slide--video .fancybox-content,.fancybox-slide--video iframe{background:#000}.fancybox-slide--map .fancybox-content,.fancybox-slide--map iframe{background:#e5e3df}.fancybox-slide--next{z-index:99995}.fancybox-slide>*{display:inline-block;position:relative;padding:24px;margin:44px 0;border-width:0;vertical-align:middle;text-align:left;background-color:#fff;overflow:auto;box-sizing:border-box}.fancybox-slide .fancybox-image-wrap{position:absolute;top:0;left:0;margin:0;padding:0;border:0;z-index:99995;background:transparent;cursor:default;overflow:visible;-webkit-transform-origin:top left;transform-origin:top left;background-size:100% 100%;background-repeat:no-repeat;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-can-zoomOut .fancybox-image-wrap{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-image-wrap{cursor:zoom-in}.fancybox-can-drag .fancybox-image-wrap{cursor:-webkit-grab;cursor:grab}.fancybox-is-dragging .fancybox-image-wrap{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-image,.fancybox-spaceball{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;border:0;max-width:none;max-height:none}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content{padding:0;width:80%;height:80%;max-width:calc(100% - 100px);max-height:calc(100% - 88px);overflow:visible;background:#fff}.fancybox-iframe{display:block;padding:0;border:0;height:100%}.fancybox-error,.fancybox-iframe{margin:0;width:100%;background:#fff}.fancybox-error{padding:40px;max-width:380px;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:10;cursor:pointer}.fancybox-close-small:after{content:"×";position:absolute;top:5px;right:5px;width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;color:#888;font-weight:300;text-align:center;border-radius:50%;border-width:0;background:#fff;transition:background .25s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-close-small:hover:after{color:#555;background:#eee}.fancybox-slide--iframe .fancybox-close-small{top:0;right:-44px}.fancybox-slide--iframe .fancybox-close-small:after{background:transparent;font-size:35px;color:#aaa}.fancybox-slide--iframe .fancybox-close-small:hover:after{color:#fff}.fancybox-caption-wrap{bottom:0;left:0;right:0;padding:60px 30px 0;background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));pointer-events:none}.fancybox-caption{padding:30px 0;border-top:1px solid hsla(0,0%,100%,.4);font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button,.fancybox-caption select{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;margin:0;padding:0;border:0;width:44px;height:44px;line-height:44px;text-align:center;background:transparent;color:#ddd;border-radius:0;cursor:pointer;vertical-align:top;outline:none}.fancybox-button[disabled]{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:rgba(30,30,30,.6)}.fancybox-button:hover:not([disabled]){color:#fff;background:rgba(0,0,0,.8)}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button[disabled]:after,.fancybox-button[disabled]:before{opacity:.3}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top:2px solid currentColor;border-right:2px solid currentColor}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px)}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-arrow{position:absolute;top:50%;margin:-50px 0 0;height:100px;width:54px;padding:0;border:0;outline:none;background:none;cursor:pointer;z-index:99995;opacity:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:opacity .25s}.fancybox-arrow:after{content:"";position:absolute;top:28px;width:44px;height:44px;background-color:rgba(30,30,30,.8);background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);background-repeat:no-repeat;background-position:50%;background-size:24px 24px}.fancybox-arrow--right{right:0}.fancybox-arrow--left{left:0;-webkit-transform:scaleX(-1);transform:scaleX(-1)}.fancybox-arrow--left:after,.fancybox-arrow--right:after{left:0}.fancybox-show-nav .fancybox-arrow{opacity:.6}.fancybox-show-nav .fancybox-arrow[disabled]{opacity:.3}.fancybox-loading{border:6px solid hsla(0,0%,39%,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--current{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--next{-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--current{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}.fancybox-fx-rotate.fancybox-slide--previous{-webkit-transform:rotate(-1turn);transform:rotate(-1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--next{-webkit-transform:rotate(1turn);transform:rotate(1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--current{-webkit-transform:rotate(0deg);transform:rotate(0deg);opacity:1}.fancybox-fx-circular.fancybox-slide--previous{-webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);transform:scale3d(0,0,0) translate3d(-100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--next{-webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);transform:scale3d(0,0,0) translate3d(100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--current{-webkit-transform:scaleX(1) translateZ(0);transform:scaleX(1) translateZ(0);opacity:1}.fancybox-fx-tube.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}@media (max-width:800px){.fancybox-infobar{left:0;margin-left:0}.fancybox-button--left,.fancybox-button--right{display:none!important}.fancybox-caption{padding:20px 0;margin:0}}.fancybox-button--fullscreen:before{width:15px;height:11px;left:calc(50% - 7px);top:calc(50% - 6px);border:2px solid;background:none}.fancybox-button--pause:before,.fancybox-button--play:before{top:calc(50% - 6px);left:calc(50% - 4px);background:transparent}.fancybox-button--play:before{width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px}.fancybox-button--pause:before{width:7px;height:11px;border-style:solid;border-width:0 2px}.fancybox-button--thumbs,.fancybox-thumbs{display:none}@media (min-width:800px){.fancybox-button--thumbs{display:inline-block}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{width:3px;height:3px;top:calc(50% - 2px);left:calc(50% - 2px);box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;word-break:normal;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;box-sizing:border-box;z-index:99995}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:220px}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid transparent;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:99991;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}}
@font-face{
	font-family: "TamarilloJF";
	src: url("../bundles/app/css/fonts/TamarilloJF.ttf");
}

/* Global style */
html{
	position: relative;
	min-height: 100%;
}
body {
	font-family: verdana;
	margin-bottom: 60px;
}
h1, h2 {
	font-family: TamarilloJF;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}

h3, p, a {
	font-family: verdana;
}
h3 {
	font-size: 20px;
}
p {
	font-size: 15px;
}
a {
	font-size: 15px;
}
.btn{
	text-align: center;
	margin: auto;
}
.btn-info{
	text-align: center;
	background-color: #95E4F9!important;
	background-image: none!important;
	border-radius: 20px!important;
	color: #000!important;
}
/* End global style */

/* Main style */
#wrapper, #page-content-wrapper, .container-fluid{
	height: 100%;
}
#diapo, #myCarousel, .carousel-inner, .item, .item-active{
    padding: 0;
    margin: 0;
    max-height: 500px;
}
.carousel-caption{
	background-color: rgba(255,255,255,0);
	padding-top: 0;
}

#home_categories {
	margin-bottom: 100px;
}
.category {
    margin-top: 50px;
}
.category_head {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border: 6px solid #93BA9D;
    background-color: #DDEBC8;
    margin: auto;
    margin-bottom: 0;
}
.category_img {
	text-align: center;
	height: 140px;
	margin: auto;
}
.category_content {
    margin: auto;
    margin-top: 0;
    text-align: center;
}
.category_content h3 {
    color: #55CADB
}
.category_desc {
	padding-left: 20px;
	padding-right: 20px;
}

.page_title h2{
	padding: 40px;
	font-family: verdana;
}
.observe_list .page_title h2 {
	margin-top: 80px;
}
.faq_wrapper{
	margin: auto 20px;
	text-align: center;
}
.faq_content{
	border: 2px solid #A6AFA8;
	background-color: #CCECC7;
	padding: 20px;
	margin-bottom: 10px;
}
.faq_answer{
	font-weight: bold;
}
.faq_response{
	display: none;
}

.filter{
	width: 100%;
	padding: 16px;
	background-color: #F1F6E8;
}
.filter input, .filter select {
	background-color: #E7ECE0;
	color: #254460;
	border-color: #254460;
}
.filter button, #filter_open button, #btn_close_filter, #btn_init_filter {
	background-color: #254460!important;
	color: #FFF!important;
	border-radius: 0!important;
}
.filter form {
	padding: 14px 14px 0 14px;
}
#filter_open {
	padding: 14px;
	background-color: #F1F6E8;
}

.navigation {
	text-align: center;
}

#observations_wrapper{
	padding-top: 20px;
}
.observation{
	border: 2px solid #A6AFA8;
	background-color: #CCECC7;
	padding: 20px;
	margin-bottom: 10px;
}
.observation_content{

}
.observation_img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: 2px solid #A6AFA8;
	text-align: center;
	margin: auto;
}
.observation_title{

}
.observation_meta{
	font-style: italic;
	color: #777;
}
.observation_desc{
	margin-top: 20px;
}
.observation_map{
	text-align: center;
}
.observation_show {
	background: none;
	border: none;
	margin-top: 40px;
	margin-bottom: 100px;
}
.bookmark{
	text-align: right;
}
.bookmark:hover, .bookmark .fa:hover{
	text-decoration: underline;
	color: blue;
}
.observation_map_link{
	margin-top: 40px;
	height: 50px;
	text-align: center;
}

.participate {
	background-image: url("../bundles/app/images/bg_participate.jpg");
	background-position: center;
	background-size: 100% 100%;
}
#participate_form {
	margin-top: 150px;
	margin-bottom: 150px;
	padding: 50px;
	border-radius: 20px;
	border: 2px solid #95E4F9;
}
.btn-file{
	height: 180px;
    width: 180px;
    border-radius: 90px!important;
    border: 6px solid #a2a4a6!important;
    padding-top: 40px!important;
    margin-left: 20%;
}
#help_participate {
	color: white;
}
#observation_date_date, #observation_date_time {
	float: left;
}

.map-container{
	height: 100%;
}
#map-observe {
    height: 80%;
    width: 100%;
}

#loading {
    z-index: 1000;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

#loading p {
    text-align: center;
    margin-top: 50vh;
}

.login {
	background-image: url("../bundles/app/images/bg_login.jpg");
	background-position: center;
	background-size: 100% 100%;
	color: #fff;
}
.login_box{
	margin: 150px auto;
    border: 2px solid #55cadb;
    border-radius: 40px;
    padding: 50px;
}
#username, #password {
	border: none;
	background: none;
	border-bottom: 2px solid #fff;
	color: #fff;
}
#google_connect {
	color: #DA3829;
}
#facebook_connect {
	color: #3b5998;
}

.register {
	min-height: 90%;
}
.registration {
	padding: 0!important;
	height: 100%;
}
.registration_aside {
	padding: 0!important;
}
.blue_text {
	color: #55cadb;
}
#registration_content {
	border-bottom: 2px solid #4D637A;
	padding: 20px;
	min-height: 100%;
}
#registration_content input {
	margin-bottom: 20px;
}
.btn_file_register {
	height: 180px;
	width: 180px;
	border-radius: 90px!important;
    border: 6px solid #a2a4a6!important;
    padding-top: 40px!important;
    margin: 60px auto;
}
#registration_content .btn {
	background: none!important;
	background-color: #FFF!important;
	border-radius: 0!important;
	border: 2px solid #000!important;
	text-align: center;
	width: 100%;
}
.registration_intro {
	font-weight: bold;
}
#registration_promo {
	background-image: url("../bundles/app/images/bg_login.jpg");
	background-position: center;
	height: 500px;
	color: #fff;
	padding: 40px;
}
#registration_promo h2 {
	font-family: "TamarilloJF";
	color: #fff;
	font-size: 40px;
	padding: 0 60px;
}
#registration_promo h3 {
	padding-top: 60px;
	color: #fff;
}
#registration_promo p {
	font-size: 10px;
}
#promo_content {
	width: 60%;
}
.avis_img {
	margin-top: 20px;
	width: 140px;
	height: 140px;
}
.avis_content {
	padding: 10px;
	font-size: 10px;
	text-align: center;
}
.fa-star {
	color: #FFBB00!important;
	margin-bottom: 60px;
}

.about h3 {
	padding-bottom: 30px;
	padding-top: 20px;
}
.about p {
	margin-bottom: 40px;
}

#footer-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}
#footer-wrapper a, #footer-wrapper span {
    color: #555555;
    font-size: 14px;
    font-family: verdana;
}
/* End main style */

/* Responsive tablet */
@media(min-width:768px) {
	.observation_img{
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	.category_desc {
		padding-left: 40px;
		padding-right: 40px;
	}
}	
/* End responsifve tablet */

/* Responsive desktop */
@media(min-width:992px) {
	body {
		margin-bottom: 100px;
	}
	.category {
    margin-top: 60px;
	}
	#footer-wrapper {
		
	}
	.category_desc {
		padding-left: 60px;
		padding-right: 60px;
	}
	.observe_list .page_title h2 {
		margin-top: 220px;
	}
	#registration_content {
		height: 910px;
		border-left: 2px solid #4D637A;
		border-bottom: none;
	}
}
/* End responsive desktop */

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 100px;
}

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background-color: rgba(77,103,125,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#close_menu{
    color: #fff;
    padding: 20px;
}


#user_profil_img {
    margin: 14%;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.user_img{
    height: 140px;
}
header, #footer-wrapper{
    padding: 15px;
    background-color: #93ba9d;
}
header h1, header span, header p, header ul, header div{
    display: inline;
}
#header_img {
    height: 80px;
}

#open_menu{
    float: right;
}

/* Tablet */
@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }

    #wrapper.toggled {
        padding-right: 0px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
    .category {
        margin-top: 120px;
    }

}

/* Desktop */
@media(min-width:992px) {

    #open_menu {
        display: none;
    }

    .nav_desktop {
        float: right;
        font-size: 14px;
    }
    .nav_desktop {
        margin-top: 50px;
    }
    .nav_desktop ul li {
        display: inline;
        list-style: none;
        padding: 20px;
    }
    .nav_desktop ul li a {
        color: #254460;
        font-size: 14px;
    }
}