@font-face{
	font-family: "TamarilloJF";
	src: url("../../fonts/TamarilloJF.ttf");
}

/* Starter page */
html, body {
	height: 100%;
	margin: 0;
	font-family: verdana;

}
h2 {
	margin-top: 50px!important;
	font-family: TamarilloJF!important;
	color: #FFF!important;
	font-size: 50px!important;
}

#wrapper {
    min-height: 100%;
    min-width: 100%;
}
.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#first_page {
	background-image: url('../../images/032c915.jpg');
	background-size: 100% 100%;
	min-height: 100%;
    min-width: 100%;
}
#header_img {
	width: 400px;
	margin: 20px 50px;
}
.start_content {
	margin-top: 10%!important;
}
.start_text {
	color: white;
	font-size: 30px;
}

#second_page {
	background-color: #FFF;
	min-height: 100%;
    min-width: 100%;
}
.border_content {
	margin-top: 5%;
	background-color: #95E4F9;
	border: 2px solid #254460;
	padding: 20px;
	color: #FFF;
	height: 60%;
	min-height: 550px!important;
}
.border_content p {
	margin-top: 50px;
	font-family: verdana;
	text-align: center;
	font-size: 20px;
}
.start_img {
	width: 200px;
	border-radius: 100px;
}

.btn {
	position: absolute;
	bottom: 100px!important;
	left: 42%!important;
	height: 50px;
	width: 200px;
	border-radius: 25px!important;
	font-size: 20px!important;
	font-weight: bold!important;
	text-transform: uppercase;
}
.btn-primary {
	background-color: #95E4F9!important;
	color: #000!important;
}
.btn-default {
	background-image: none!important;
	background-color: #254460!important;
	color: #FFF!important;
}
/* Starter page 