{% extends "layout/layout.html.twig" %}

{% block body %}
<div class="row about">
	<div class="page_title">
        <center><h2>À propos de nous</h2></center>
    </div>
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h3>Notre Projet :</h3>
        <p class="text-center">
            L’Association Nos Amis Les Oiseaux réunit des passionnés d’ornithologie et s’engage quotidiennement pour la protection des oiseaux. 

            Avec notre web-application, partez à la découverte des oiseaux et partagez votre passion où que vous soyez en France. Enregistrez vos observations et vos photos sur le site et prenez part à un programme de recherche ambitieux et innovant pour étudier les effets du climat, de l’urbanisation et de l’agriculture sur l’évolution et les migrations des différentes espèces. 
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h3>Nous contacter :</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h3>Mentions légales :</h3>
        <p class="text-center">
            Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat. 
        </p>
    </div>
    
</div>
{% endblock %}
