<form action="{{ path("add_favorite_observation", {'id': observation.id}) }}" method="post">
    <button type="submit" class="btn btn-default">
        Ajouter au favoris <i class="fa fa-heart-o"></i>
    </button>
    {{ form_rest(form) }}
</form>